/node_modules
/public/hot
/public/storage
/public/filemanager
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.ftpconfig
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
workspace.xml
Thumbs.db
.ftpconfig
*.log
.env0
